::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-track{
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb{
    background: #333;
}

::-webkit-scrollbar-thumb:hover{
    background: #b68d8d;
}

.TodoList{
    background: rgba(42, 125, 158, 0.477);
    padding: 3rem;
    max-width: 700px;
    max-height: 800px;
    overflow: auto;
    color: #fff;
    border-radius: 10px;
    box-shadow: 15px 15px rgb(150, 124, 140, 0.5);
}

.TodoList ul{
    margin-top: 2.6rem;
    list-style: none;
}

.TodoList h1{
    font-size: 2.6rem;
    letter-spacing: 0.05rem;
    border-bottom: 1px solid paleturquoise;
}
